@{
    ViewData["Title"] = "Books";
}
<h1>@ViewData["Title"]</h1>

<p>Your books will be displayed here</p>


@model List<Book>

<ul>
@foreach (var book in Model)
{
     <li>
         <strong>@book.Title</strong> by @book.Author<br />
          Total copies: @book.Stock
          <form asp-action="DeleteBook" asp-route-id="@book.Id" method="post"> 
          <button type="submit">Delete

          </button>
          </form>
           </li>
}
</ul>
