@model List<Member>

@{
    ViewData["Title"] = "Members";
}

<h1>@ViewData["Title"]</h1>

<table border="2" cellpadding="10">
    <thead>
        <tr>
            <th>Member Name</th>
            <th>Book Title</th>
            <th>Author</th>
            <th>Date Borrowed</th>
            <th>Return Due</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var member in Model)
    {
        foreach (var memberBook in member.MemberBooks)
        {
            <tr>
                <td>@member.Name</td>
                <td>@memberBook.Book.Title</td>
                <td>@memberBook.Book.Author</td>
                <td>@memberBook.BorrowedDate.ToString("dd MMM yyyy")</td>
                <td>@memberBook.BorrowedDate.AddDays(30).ToString("dd MMM yyyy")</td>
            </tr>
        }
    }
    </tbody>
</table>
